@import '~bootstrap/scss/bootstrap';

.main-container {
  margin: auto;
  max-width: 1000px;
}

.form-inline {
  button {
    border-color: #ffd03e;
    color: #ffd03e;
    margin-right: 10px;
  }
  .sign-out-btn,
  .change-pass-btn {
    display: none;
  }
}

// .form-inline {
//
// }

.auth-form {
  display: none;
  flex-direction: row;
  form {
    margin: 10px;
  }
  input {
    width: 100px;
  }
}

.change-password {
  // display: none;
}
