@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css?family=KoHo:400,500i,700|Poppins');

$footer-background: #f5f5f5;

body {
  background-color: #596784;
}

* {
  font-family: 'Poppins', sans-serif;
}

.navbar {
  height: 80px;
}

.got-game {
  height: 150px;
  width: 100%;
  margin: 150px auto 50px auto;
}

.main-container {
  margin: auto;
  max-width: 60%;
}

.form-inline {
  button {
    border-color: #ffd03e;
    color: #ffd03e;
    margin-right: 10px;
  }
  .sign-out-btn,
  .change-pass-btn {
    display: none;
  }
}

.auth-form {
  width: 100%;
  position: absolute;
  text-align: center;
  .sign-up-form {
    display: none;
    margin: 0 auto;
  }
  .sign-in-form {
    display: none;
    margin: 0 auto;
  }
  .change-password-form {
    display: none;
    margin: 0 auto;
  }
  form {
    margin: 10px;
  }
  input {
    width: 125px;
  }
  legend {
    font-size: 18px;
  }
}

// ======================================================================
.game-container {
  margin: 120px auto 0 auto;
  display: none;
}

.game-board {
  display: grid;
	width: 330px;
	height: 330px;
	margin: 0 auto;
  background-color: #596784;
  // border: 4px solid #d8b33e;
  border-radius: 10px;
	grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.box {
  border: 2px solid #f3cf20;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  color: white;
  &:hover {
    background-color: #bfd2cd;
  }
}

//====================================================================
.game-btn {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 60px auto 0 auto;
  align-items: center;
  justify-content: center;
  .btn-group{
    margin: 0 auto;
  }
  .start-game-btn {
    margin: 10px 5px 10px 5px;
    border-radius: 15px;
    display: none;
  }
  .reset-game-btn {
    margin: 10px 5px 10px 5px;
    border-radius: 15px;
  }
  .get-game-btn{
    margin: 10px 5px 10px 5px;
    border-radius: 15px;
  }
  .get-all-game-btn {
    margin: 10px 5px 10px 5px;
    border-radius: 15px;
    display: none;
  }
}
// ======================================================================

#message-box {
  display: flex;
  flex-direction: column;
  height: 100px;
  margin: 60px auto 0 auto;
  text-align: center;
  left: 0;
  bottom: 0;
  width: 100%;
  line-height: 60px;
  #player-turn {
    margin: 0 10px;
    height: 40px;
    align-items: start;
    align-content: flex-start;
    justify-content: center;
  }
  #game-message {
    margin: 0 10px;
    height: 40px;
    align-items: start;
    align-content: flex-start;
    justify-content: center;
  }
}

.sticky {
  position: fixed;
}

.error-message {
  color: hotpink;
  font-weight: 700;
  font-size: 20px;
}

.success-message {
  color: #d8b33e;
  font-weight: 700;
  font-size: 20px;
  // height: 40px;
}
// ======================================================================

// .footer {
//   display: flex;
//   flex-shrink: 0;
//   background-color: $footer-background;
//   bottom: 0;
//   line-height: 60px;
//   text-align: center;
//   height: 60px;
//   position: absolute;
//   width: 100%;
// }
