@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css?family=KoHo:400,500i,700|Poppins');

$footer-background: #f5f5f5;

body {
  background-color: #596784;
}

* {
  font-family: 'Poppins', sans-serif;
}

.error-message {
  color: red;
  font-weight: 700;
  margin-left: 10px;
}

.success-message {
  color: white;
  font-weight: 700;
  margin-left: 10px;
}

.main-container {
  margin: auto;
  max-width: 1000px;
}

.form-inline {
  button {
    border-color: #ffd03e;
    color: #ffd03e;
    margin-right: 10px;
  }
  .sign-out-btn,
  .change-pass-btn {
    display: none;
  }
}
.auth-form {
  flex-direction: row;
  border: 1px solid #343a40;
  .sign-up-form {
    display: none;
  }
  .sign-in-form {
    display: none;
  }
  .change-password-form {
    display: none;
  }
  form {
    margin: 10px;
  }
  input {
    width: 125px;
  }
  legend {
    font-size: 18px;
  }
}

.footer {
  background-color: $footer-background;
  bottom: 0;
  line-height: 60px;
  text-align: center;
  height: 60px;
  position: absolute;
  width: 100%;
}
